{% extends 'news/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-9 is-vertical is-parent">
            <div class="tile is-child box">
                <div class="a-info">
                    <div>
                        <span class="tag is-link a-tag-category">{{ article.category }}</span>
                        {% if article.is_draft %}
                            <span class="tag is-warning">Черновик</span>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <span>
                                <a class="tag is-info is-light" href="{% url 'admin:news_article_change' article.id %}">
                                    Редактировать
                                </a>
                            </span>
                        {% endif %}
                        <span>{{ article.author_name }}</span>
                        <span>{{ article.published_at|date:"d E" }}</span>
                    </div>
                    <div>
                        <h1 class="title">{{ article.title }}</h1>
                        <p>{{ article.description }}</p>
                    </div>
                </div>
                <div class="a-content content">
                    {{ article.body | safe }}
                </div>
                <hr>
                <div class="a-info">
                    <div>
                        <span>{{ article.author_name }}</span>
                        <span>{{ article.published_at|date:"d E" }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box a-side-content">
                <div class="article a-side-content">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
