<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'news/font/stylesheet.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link href="{% static 'news/index.css' %}" rel="stylesheet">
    <script src="{% static 'news/index.js' %}"></script>
</head>
<body class="has-navbar-fixed-top pattern-dots-md">
{% include 'news/parts/navbar.html' %}
<div class="container page-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
