<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/f91a654b46.js" crossorigin="anonymous"></script>
    <link href="{% static 'news/font/stylesheet.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <link href="{% static 'news/index.css' %}" rel="stylesheet">
    <script src="{% static 'news/index.js' %}"></script>
</head>
<body class="has-navbar-fixed-top">
{% include 'news/parts/navbar.html' %}
{% include 'news/modals/write_us_modal.html' %}
{% include 'news/modals/search_modal.html' %}
{% include 'news/modals/login_modal.html' %}
<div class="container page-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
