<nav id="nav" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Территория добра Балаково
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Статьи
            </a>

            <a class="navbar-item">
                Новости
            </a>

            <a class="navbar-item">
                Фото
            </a>

            <a class="navbar-item">
                Истории
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                </div>
            </div>
        </div>
    </div>
</nav>