<div class="column is-one-quarter">
    <a href="{% url 'news:article' article_id=article.id path='' %}">
        <div class="article a-4 card">
            <div class="a-category">{{ article.category }}</div>
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ article.cover_url }}" alt="">
                </figure>
            </div>
            <div class="content">
                <div class="a-title">
                    <b>{{ article.title }}</b>
                    <span>{{ article.description }}</span>
                </div>
            </div>
            <footer class="card-footer">
                <div class="a-author">{{ article.author_name }}</div>
            </footer>
        </div>
    </a></div>
