<div class="columns is-variable is-2">
    <div class="column">
        <a href="{% url 'news:article' article_id=article.id path='' %}">
            <div class="article a-1" style="background-image: url('{{ article.cover_url }}');">
                <div class="a-category">{{ article.category }}</div>
                <div class="a-1-info">
                    <div class="a-title">
                        <b>{{ article.title }}</b>
                        <span>{{ article.description }}</span>
                    </div>
                    <div class="a-author">
                        {{ article.author_name }}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
