html, body {
    background-color: #182847;
    color: tomato;
    margin: 0;
    height: max-content;
}

body div {
    color: black;
    font-family: 'Formular', sans-serif;
}

img {
    object-fit: cover;
}

/* Navbar */

nav#nav div.navbar-start {
    margin-left: 120px;
}

@media only screen and (max-width: 1024px) {
    nav#nav div.navbar-end,
    nav#nav div.navbar-start {
        margin-left: 0;
        text-align: center;
    }

    #search-bar {
        padding: 0 25px;
    }
}

nav#nav {
    z-index: 200;
    box-shadow: 0 1px 7px #8a8888;
}

nav#nav a {
    font-weight: bold;
    color: black;
}

nav#nav a:hover {
    color: black;
    background-color: white;
}

/* Index page */

footer {
    border: none !important;
}

div.page-content {
    margin-top: 20px;
    padding-bottom: 20px;
    max-width: 1250px !important;
}

article.box {
    position: relative;
    border-radius: 0;
}

div.a-category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #335794;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 10px;
    z-index: 100;
}

/* Article Card 1 */

article.box.a-1 {
    background-color: black;
    color: white;
    font-size: 29px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

article.box.a-1 div.a-author {
    font-size: 14px;
    font-weight: bold;
}

article.box.a-1 * {
    color: white;
}

@media only screen and (min-width: 1024px) {
    article.a-1 {
        height: 270px;
    }

    article.box.a-1 div.a-content {
        width: 75%;
        position: absolute;
        bottom: 1rem;
    }

    article.box.a-1 {
        background-position: right;
        background-size: auto 100%;
    }
}


/* Article Card 2 */

article.box.a-2 {
    padding: 0;
    font-size: 22px;
}

article.box.a-2 div.img,
article.box.a-2 img {
    height: 250px;
}

article.box.a-2 div.a-content {
    padding: 0 20px;
    padding-bottom: 15px;
}

article.box.a-2 div.a-author {
    font-size: 14px;
}

/* Button */

#get-more-button {
    height: 50px;
    padding: 15px 0;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d4175;
    text-align: center;
    vertical-align: middle;
    color: white;
    cursor: pointer;
}

#get-more-button:hover {
    background-color: #133669;
}


/* Single Article */

div.a-info > div {
    margin-bottom: 10px;
}

div.a-info > div > span {
    margin-right: 15px;
}

div.a-info > div > span.tag.is-link {
    background-color: #335794;
}

@media only screen and (max-width: 1024px) {
    span.a-tag-category {
        display: none;
    }
    span {
        font-size: 14px;
    }
}
