<nav id="nav" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Территория добра Балаково
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'news:category' category_slug='articles' %}">
                Статьи
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='news' %}">
                Новости
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='photo' %}">
                Фото
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='stories' %}">
                Истории
            </a>
        </div>

        <div class="navbar-end">
            {% if request.user.is_superuser %}
                {% if preview %}
                    <a class="navbar-item" href="{{ request.path }}">
                        <span class="tag is-warning">Спрятать черновики</span>
                    </a>
                {% else %}
                    <a class="navbar-item" href="{{ request.path }}?preview=1">
                        <span class="tag is-warning">Показать черновики</span>
                    </a>
                {% endif %}
                <a class="navbar-item" href="{% url 'admin:index' %}">
                    <span class="tag is-warning">Управление</span>
                </a>
            {% endif %}
            {% block navbar_end %}
            {% endblock %}
        </div>
    </div>
</nav>