<nav id="nav" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Территория добра Балаково
        </a>

        <a role="button" id="menu-button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'news:category' category_slug='articles' %}">
                Статьи
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='news' %}">
                Новости
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='photo' %}">
                Фото
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='stories' %}">
                Истории
            </a>
        </div>

        <div class="navbar-end">
            {% if request.user.is_staff %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Админ
                    </a>
                    <div class="navbar-dropdown">
                        {% if preview %}
                            <a class="navbar-item" href="{{ request.path }}">
                                Спрятать черновики
                            </a>
                        {% else %}
                            <a class="navbar-item" href="{{ request.path }}?preview=1">
                                Показать черновики
                            </a>
                        {% endif %}
                        <a class="navbar-item" href="{% url 'admin:index' %}">
                            Управление
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="navbar-item has-tooltip-bottom is-hidden-touch" data-modal-id="search-modal" data-tooltip="Поиск">
                <i class="fas fa-search"></i>
            </div>
            <span class="navbar-item has-tooltip-bottom is-hidden-touch" data-modal-id="write-us-modal" data-tooltip="Написать нам">
                <i class="fas fa-envelope"></i>
            </span>
            {% if request.user.is_anonymous %}
                <span class="navbar-item is-hidden-touch" data-modal-id="login-modal">
                    <i class="fas fa-user"></i>
                    <b style="margin-left: 0.5rem">
                        Войти
                    </b>
                </span>
            {% else %}
                <div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
                    <a class="navbar-link">
                        <span class="navbar-item" data-modal-id="login-modal">
                            <i class="fas fa-user"></i>
                            <b style="margin-left: 0.5rem">
                                {{ request.user }}
                            </b>
                        </span>
                    </a>
                    <div class="navbar-dropdown">
                        <form action="{% url 'account_logout' %}" method="post">
                            {% csrf_token %}
                            <a class="navbar-item" onclick="this.parentElement.submit()">
                                Выйти
                            </a>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>