<nav id="nav" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Территория добра Балаково
        </a>

        <a role="button" id="menu-button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'news:category' category_slug='articles' %}">
                Статьи
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='news' %}">
                Новости
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='photo' %}">
                Фото
            </a>

            <a class="navbar-item" href="{% url 'news:category' category_slug='stories' %}">
                Истории
            </a>
        </div>

        <div class="navbar-end">
            {% if request.user.is_staff %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Админ
                    </a>
                    <div class="navbar-dropdown">
                        {% if preview %}
                            <a class="navbar-item" href="{{ request.path }}">
                                Спрятать черновики
                            </a>
                        {% else %}
                            <a class="navbar-item" href="{{ request.path }}?preview=1">
                                Показать черновики
                            </a>
                        {% endif %}
                        <a class="navbar-item" href="{% url 'admin:index' %}">
                            Управление
                        </a>
                    </div>
                </div>
            {% endif %}
            <span class="navbar-item" id="message-us">
                Написать нам
            </span>
            <div class="navbar-item" id="search-bar">
                <form action="{% url 'news:index' %}" method="get">
                    <label for="search"></label>
                    <input class="input" id="search" name="q" value="{{ search }}" type="text" placeholder="Поиск">
                </form>
            </div>
            {% block navbar_end %}
            {% endblock %}
        </div>
    </div>
</nav>